<form method="POST" class="mt-5">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text"
               value="<%= crud.title %>"
               name="title"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Description</label>
        <input type="text"
               value="<%= crud.description %>"
               name="description"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Authors</label>
        <input type="text"
               value="<%= crud.authors %>"
               name="authors"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Favourite</label>
        <input type="text"
               value="<%= crud.favourite %>"
               name="favourite"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">FileCover</label>
        <input type="text"
               value="<%= crud.fileCover %>"
               name="fileCover"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">FileName</label>
        <input type="text"
               value="<%= crud.fileName %>"
               name="fileName"
               class="form-control"
               id="inputTitle">
    </div>


    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>